name: Call reusable workflow CodeQL Scan python
on:
  workflow_dispatch:
    inputs:
      language:
        description: 'support language [python, dotnet, csharp, go, javascript, java, terraform]'
        required: true
        type: choice
        options:
        - python
        - dotnet
        - csharp
        - go
        - javascript
        - java
        - terraform
      path:
        description: 'directory'
        default: "./"
        required: true
        type: string
      skip_auto_build:
        description: 'yes/no for skip auto build'
        default: "no"
        required: false
        type: string

jobs:
  call-workflow-scan-code:
    strategy:
      fail-fast: false
    permissions:
      actions: read
      contents: read
      security-events: write
    if: ${{ inputs.language != 'terraform' }}
    uses: dataxai/template-codeql/.github/workflows/reuseable-scan-code.yaml@main
    with:
      language: ${{ inputs.language }}
      path: ${{ inputs.path }}
      # skip_auto_build: ${{ inputs.skip_auto_build }}

  call-workflow-scan-iac:
    permissions:
      actions: read
      contents: read
      security-events: write
    if: ${{ inputs.language == 'terraform' }}
    uses: dataxai/template-codeql/.github/workflows/reuseable-scan-iac-code.yaml@main
    with:
      path: ${{ inputs.path }}

      /Users/s101590/Desktop/workspace/Git/datax-infra/.github/workflows/code-scan.yaml
